
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

 header{
    background:lavender;
    .header-container{
        padding:0.5rem 2rem;
    }
 }

main{
    
    .col-2{
        padding-left:0;
        padding-right:0;
    }

    .sidebar{
        i{
            position:absolute;
            right:10px;
        }

        ul{
            li{
                padding:1rem;
                ul{
                    padding-left:20px;
                    li{
                        list-style:none;
                    }
                }
            }
        }

        & > ul > li{
            border-bottom:1px solid red;            
        }
    }

    .main-area{
        // margin-left:300px;
        .card{
            width:90%;
            &:first-child{
                margin-bottom:2rem;
            }


            .card-body{
                .action-icon{
                    display:flex;
                    border:0;
                    a:first-child{
                        flex:1;
                    }
                }                
            }
        }
    }
 }